.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}


@keyframes fade-In {
    to{
        opacity: 1;
    }
}

.fade-In {
    opacity: 0;
    animation: fade-In 1s ease-in forwards;
}